<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="coreextended" translate="label" type="text" sortOrder="1151" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Core Extented</label>
            <tab>general</tab>
            <resource>Magento_Config::config_general</resource>
            <group id="core_extended_config" translate="label" type="text" sortOrder="1" 
                showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Core Extended Configuration</label>
                <field id="active" translate="label" type="select" sortOrder="1" 
                    showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="last_update" translate="label" type="label" sortOrder="2" showInDefault="1">
                    <label>Last Update</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Field\Notification</frontend_model>
                    <comment>Example : system frontend_model</comment>
                </field>
                <field id="dynamic_field" translate="label" sortOrder="10" 
                    showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Row</label>
                    <frontend_model>SMG\CoreExtended\Block\Adminhtml\Form\Field\Row</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="1" canRestore="1">
                       <!--<backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>-->
                    <label><![CDATA[Title]]></label>
                </field>
            </group>
        </section>
    </system>
</config>